# include listed files (!)
*
.*

# dotfiles
!.profile
!.xinitrc
!.xinput
!.xprofile
!.Xresources
!.bashrc
!.gtkrc-2.0
!.bash_aliases
!.bash_profile
!.inputrc
!.coderc
!.dmenurc

# git
!README.md
!.gitconfig
!.gitignore

# config
!.config/
!.config/i3-scrot.conf
!.config/mimeapps.list
!.config/redshift.conf
!.config/*/
!.config/i3/*
!.config/git/*
!.config/mpd/*
!.config/bspwm/*
!.config/sxhkd/*
!.config/dunst/*
!.config/dmenu/*
!.config/picom/*
!.config/polybar/*
!.config/newsboat/*
!.config/i3blocks/*
!.config/fontconfig/*
!.config/transmission/*

# emacs
!.emacs.d/
!.emacs.d/init.el
!.emacs.d/README.md
!.emacs.d/.mc-lists.el
!.emacs.d/*/
!.emacs.d/lisp/*
!.emacs.d/lisp/languages/*
!.emacs.d/snippets/*/
!.emacs.d/snippets/js-mode/*
!.emacs.d/snippets/go-mode/*
!.dir-locals.el # eglot config for lsp servers

# icons
!.icons/default/index.theme

# scripts
!.local/
!.local/bin/
!.local/bin/**

# shared resources
!.local/share/
!.local/share/*/
!.local/share/dmenu/*
!.local/share/packages/*
!.local/share/wallpaper/*
!.local/share/applications/*

# ignore emacs files
*~
.*~
\#*
.\#*