.Xauthority
.Xclients
.atom/
.aws/
.bash_history
.bash_logout
.byteexec/
.cache/
.cask/
.cfg/
.cinnamon/
.config/
.lanternrc
.dbus/
.dir_colors
.esd_auth
coding/
.emacs.d/
.gem/
.gtkrc-2.0
.lantern/
.local/share/
.mozilla/
.netrc
.node*
.npm/
.pki/
.ssh/
.surf/
.terminfo/
.thunderbird/
.time/
.transifexrc
.xsession-errors*
Desktop/
Documents/
Downloads/
dotfiles/
go/
lantern/
media/