[user]
	email = leah.mertz@protonmail.com
	name = reya
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = $HOME/.config/git/.gitignore_global
[pull]
	rebase = false
[github]
	user = bcmertz
[init]
	defaultBranch = main
