#!/bin/bash
#
# when x starts, also...

session="${SESSION}"
# start compositor if not cinnamon
if [[ "$session" != "mint" && "$session" != "cinnamon" ]]; then
    # -b daemon, -i no inactive opacity, -I no fading in or -O out
    picom -b -i 1 -I 1 -O 1 &
fi

if [[ "$session" == "xfce" ]]; then
    plank &
fi

dunst &         # notifications
redshift &      # reduce bluelight
clipmenud &     # clipmenu daemon
unclutter &     # get rid of mouse
setxkbmap -layout us,ir -option grp:alt_shift_toggle & # set keyboards
xautolock -time 30 -locker slock &  # autolock screen after half an hour
start-pulseaudio-x11 &              # pulseaudio, should be automatic
transmission-daemon &               # transmission in background
emacs --daemon=term &               # terminal emacs daemon
emacs --daemon=gui &                # gui emacs daemon
xset r rate 300 50 &                # faster repeating keys
lxpolkit &      # authentication agent
setbg &         # set background
nm-applet &
# pasystray &
# blueman-applet &
