#!/bin/bash
#
# when x starts, also...

compton -b &    # move to xcompmgr &?
dunst &         # notifications
redshift &      # reduce bluelight
clipmenud &     # clipmenu daemon
unclutter &     # get rid of mouse
xautolock -time 30 -locker slock & # autolock screen after half an hour
setbg # set background
