#!/bin/bash
#
# when x starts, also...

session="${SESSION}"
# start compositor if not cinnamon
if [[ "$session" != "mint" && "$session" != "cinnamon" ]]; then
    # -b daemon, -i no inactive opacity, -I no fading in or -O out
    picom -b -i 1 -I 1 -O 1 &
fi

if [[ "$session" == "xfce" ]]; then
    plank &
fi

if [[ "$session" == "i3" ]]; then
   polybar i3 &
fi

# autolock screen after half an hour
time=30
case $(global_cfg screen_locker) in
    "gnome-screensaver")
        gnome-screensaver & # gnome autolock daemon
        xautolock -time $time -locker 'gnome-screensaver-command -l' &
        ;;

    *)
        xautolock -time $time -locker slock &
        ;;
esac


dunst &         # notifications
clipmenud &     # clipmenu daemon
unclutter &     # get rid of mouse
setxkbmap -layout us,ir -option grp:alts_toggle & # set keyboards
oled-linux &                        # ugh
/usr/bin/emacs --daemon=term &               # terminal emacs daemon
/usr/bin/emacs --daemon=gui &                # gui emacs daemon
xset r rate 300 50 &                # faster repeating keys
lxpolkit &      # authentication agent
setbg &         # set background
touchegg & # gestures
# monerod &       # start the monero daemon
# monero_mine &   # mine monero
# nmcli connection up client & # connect to vpn on login
# nm-applet &
# volctl &
# pasystray &
# blueman-applet &
# transmission-daemon &               # transmission in background

# not relevant
# redshift &      # reduce bluelight
# start-pulseaudio-x11 &              # pulseaudio, should be automatic
