"*":
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "450a7fa2-1959-4465-b477-dc759ffcf4c4"
  welcome:
    showOnStartup: false
