[Desktop Entry]
Name=balenaEtcher
Exec=/home/bennett/.local/share/bauh/appimage/installed/etcher/balenaEtcher-1.5.71-x64.AppImage
Terminal=false
Type=Application
Icon=/home/bennett/.local/share/bauh/appimage/installed/etcher/logo.png
StartupWMClass=balenaEtcher
X-AppImage-Version=1.5.71
Comment=Flash OS images to SD cards and USB drives, safely and easily.
Categories=Utility;
