[Desktop Entry]
Name=org-protocol
Comment=Intercept calls from emacsclient to trigger custom actions
Categories=Other;
Keywords=org-protocol;
Icon=emacs
Type=Application
Exec=emacsclient --socket-name=gui %u
Terminal=false
StartupWMClass=Emacs
MimeType=x-scheme-handler/org-protocol;