[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bennett/arduino-1.8.12]
row=4
col=0

[/home/bennett/dot.org]
row=9
col=0

[/home/bennett/bookmarks.html]
row=16
col=0

[/home/bennett/transcript.pdf]
row=15
col=0

[/home/bennett/media]
row=13
col=0

[/home/bennett/Documents]
row=7
col=0

[/home/bennett/Desktop]
row=5
col=0

[/home/bennett/Arduino]
row=1
col=1

[/home/bennett/coding]
row=6
col=0

[/home/bennett/Downloads]
row=8
col=0

[/home/bennett/keyfile]
row=12
col=0

[/home/bennett/go]
row=17
col=0

[/home/bennett/calibre]
row=11
col=0

[/home/bennett/rafrec.pdf]
row=10
col=0

[/home/bennett/note.txt]
row=0
col=1

[/home/bennett/README.md]
row=14
col=0

[E2CA5B8CCA5B5BBB]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/bennett]
row=3
col=0

